

html {
  background-color: black;
  color: whitesmoke;
 
 
}


.upper-container {
  display: flex; 

}

nav {
  border-style: solid;
  border-width: thin; 
  border-color: whitesmoke black;
  float: none;

}

ul {
  list-style: none;
  display: table;
  margin: auto; 
  padding : 0px; 
  
}

li {
  display: inline; 
  padding: 0px 50px;
  border-style: solid; 
  border-width: thin; 
  border-color: whitesmoke;
  
}

a {
  color: whitesmoke;
  text-decoration: none;
  
}


.container, .Main {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  overflow-y: scroll;
  scrollbar-color: white grey; 
  text-align: center;
 
}


.photo-display {
  width: 100%;
}


img {
  
  width: 640px;
  height: 350px; 
}

.button {
  margin: 0px auto 5px auto; 
  justify-content: center;
  
}

button {
  background-color: black;
  color: whitesmoke;
  border-radius: 25px;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

}

.footer {
  border-style: solid;
  border-width: thin; 
  border-color: whitesmoke black;
  float: none;
  padding: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  text-align: center;
}

.footer-image {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 375px) {

  html {
    background-color: black;
    color: whitesmoke;
  }
  
  .upper-container {
    display: flex; 
  
  }

  

  h1 {
    text-align: center;
  }
  
  nav {
    border-style: solid;
    border-width: thin; 
    border-color: whitesmoke black;
    float: none;
   
 
  
  }
  
  ul {
    list-style: none;
    display: table;
    margin: auto; 
    padding : 0px; 
    
    
  }
  
  li {
    display: inline; 
    padding: 0px 25px;
    border-style: solid; 
    border-width: thin; 
    border-color: whitesmoke;
    
    
  }
  
  a {
    color: whitesmoke;
    text-decoration: none;
    
  }
  
 
  
  .container {
    height: 350px;
    width: 375px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    overflow: scroll;
    text-align: center;
   
  }
  
  .photo-display {
    width: 375px;
  }

  
  
  img {
    width: 375px;
    height: 350px; 
  }

  

  video {
    width: 70%;
    height: 70%; 
    object-fit: contain;
    

  }
  
  .button {
    margin: 0px auto 5px auto; 
    justify-content: center;
    
  }
  
  button {
    background-color: black;
    color: whitesmoke;
    border-radius: 25px;
  }
  
  
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  
  }
  
  .footer {
    border-style: solid;
    border-width: thin; 
    border-color: whitesmoke black;
    float: none;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-align: center;
  }
  
  .footer-image {
    height: 40px;
    width: 40px;
  }




}




